.idea/
*.pyc
~*/
.vscode/
.coverage
out/

audio_cache/
dectalk/

discord.log
logs/
data/
config/options.ini
config/permissions.ini
config/aliases.json
config/autoplaylist.txt
config/autoplaylist_removed.txt
config/autoplaylist.cachemap.json
config/whitelist.txt
config/blacklist.txt
config/blocklist_users.txt
config/blocklist_songs.txt

docker-compose.yml

test_cmds.py
.cache/pip/http/5/e/3/e/b/5e3eb4aa747a752f2fbfe0e2fae2644940982aa2a048b8cb3755f74d
.cache/pip/http/7/0/c/9/2/70c921c88f1576b68508eaee348d2454466683e2a65e38391d356055
.cache

